






          <div id="carousel-example-generic2" class="carousel slide"    data-interval="false">
      <!-- Wrapper for slides -->
        <div class="carousel-inner" id="carousel-inner-titles">
          <div class="item active">

              <div class="infos-title-xs-sm-md  hidden-lg">

                  <p>EXPOSITIONS</p>
                  <h6> _ </h6>
              </div>
              <div class="infos-title hidden-xs hidden-sm hidden-md">

                  <p>EXPOSITIONS</p>

              </div>
          </div>
           <div class="item">
              <div class="infos-title-xs-sm-md  hidden-lg">

                  <p>SCÉNOGRAPHIES & INSTALLATIONS</p>
                  <h6> _ </h6>
              </div>
              <div class="infos-title hidden-xs hidden-sm hidden-md">

                  <p>SCÉNOGRAPHIES & INSTALLATIONS</p>


              </div>
          </div>
          <div class="item">
            <div class="infos-title-xs-sm-md  hidden-lg">
                <p>RESIDENCES</p>
                <h6> _ </h6>

              </div>
              <div class="infos-title hidden-xs hidden-sm hidden-md">
                <p>RÉSIDENCES</p>



              </div>
          </div>
          <div class="item">
              <div class="infos-title-xs-sm-md  hidden-lg">
                <p>ENSEIGNEMENT</p>
                <h6> _ </h6>

              </div>
              <div class="infos-title hidden-xs hidden-sm hidden-md">
                <p>ENSEIGNEMENT</p>

              </div>
          </div>

          <div class="item">
              <div class="infos-title-xs-sm-md  hidden-lg">
                <p>PRIX, BOURSES <br>& WORKSHOTS</p>
                <h6> _ </h6>
              </div>
              <div class="infos-title hidden-xs hidden-sm hidden-md">
                <p>PRIX, BOURSES & WORKSHOTS</p>

               </div>
          </div>
          <div class="item">
              <div class="infos-title-xs-sm-md  hidden-lg">
                <p>MÉDIAS</p>
                <h6> _ </h6>
              </div>
              <div class="infos-title hidden-xs hidden-sm hidden-md">
                <p>MÉDIAS</p>


              </div>
          </div>
        </div>
      </div>






      <div id="carousel-example-generic3" class="carousel slide"    data-interval="false">
<!-- Wrapper for slides -->
  <div class="carousel-inner" id="carousel-inner-top" >
    <div class="item active">
        <div class="infos-title2">
            <p>| EXPOSITIONS |</p>
        </div>
    </div>
    <div class="item">
        <div class="infos-title2">
            <p>| SCÉNOGRAPHIES &... |</p>
        </div>
    </div>
    <div class="item">
      <div class="infos-title2">
          <p>| RÉSIDENCES |</p>
        </div>
    </div>
    <div class="item">
        <div class="infos-title2">
          <p>| ENSEIGNEMENT |</p>
        </div>
    </div>

    <div class="item">
        <div class="infos-title2">
          <p>| PRIX, BOURSES &... |</p>
        </div>

    </div>
    <div class="item">
        <div class="infos-title2">
          <p>| MEDIAS & ... |</p>
        </div>
    </div>
  </div>
</div>
































