<div id="carousel-example-generic3" class="carousel slide"    data-interval="false">
<!-- Wrapper for slides -->
  <div class="carousel-inner" id="carousel-inner-top" >
    <div class="item active">
        <div class="infos-title2">
            <p>| EXPOSITIONS |</p>
        </div>
    </div>
    <div class="item">
      <div class="infos-title2">
          <p>| RÉSIDENCES |</p>
        </div>
    </div>
    <div class="item">
        <div class="infos-title2">
          <p>| ENSEIGNEMENT |</p>
        </div>
    </div>
    <div class="item">
        <div class="infos-title2">
            <p>| SCÉNOGRAPHIES &... |</p>
        </div>
    </div>
    <div class="item">
        <div class="infos-title2">
          <p>| PRIX, BOURSES &... |</p>
        </div>

    </div>
    <div class="item">
        <div class="infos-title2">
          <p>| MEDIAS & ... |</p>
        </div>
    </div>
  </div>
</div>



