<div class="projects-top-xs hidden-sm hidden-md hidden-lg">

  <div class='row'>

    <div class="title-xs"> PAULINE | DUFOUR</div>
  </div>
</div>


<div class="projects-container-xs">

  <div class="projects-block-hidden-xs"></div>

  <div class="projects-block-xs">
    <div class="projects-xs text-center">
      <div class="row">
        <% @projects.each do |project| %>
          <div class="col-xs-12" id="col-xs-12-projects-xs">
            <div class="project-card-xs ">
              <div id="project-path"><%= link_to project.name, project_path(project), class: "link-project-xs"%><span> </span><%= link_to project.name2, project_path(project), class: "link-project-xs"%>
              </div>
              <p>_</p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="projects-bottom-xs text-center">
    <div class= "title-bottom-xs" >
      <%= link_to "VIRTUAL | REALITY", vr_projects_path, class: "link-bottom-title-xs"%>
    </div>
  </div>

 <%= render "shared/icons" %>

</div>



