<div class="projects-vr-top-xs hidden-sm hidden-md hidden-lg">
  <div class="title-vr-xs"> VIRTUAL | REALITY</div>
</div>

<div class="projects-vr-container-xs">
  <div class= "projects-vr-block-hidden-xs"></div>
 <div class="projects-vr-block-xs">
    <div class="projects-vr-xs text-center">
      <div class="row">
        <% @projects.each do |project| %>
          <div class="col-xs-12">
            <div class="project-vr-card-xs ">
                    <!--div class="project-name"-->
              <div id="project-path"><%= link_to project.name, showvr_project_path(project), class: "link-project-vr-xs"%>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="projects-vr-bottom-xs text-center hidden-sm hidden-md hidden-lg">
      <div class= "title-vr-xs" >
      <%= link_to "VR | PERFORMANCE", "https://vimeo.com/213874707", class: "link-bottom-title-xs"%>
      </div>
    </div>

    <%= render 'shared/icons' %>
  </div>


</div>


