<div class="projects-top-bottom hidden-xs">
  <div class="projects-title">
          <%=link_to "PAULINE | DUFOUR", infos_path, class: "link-top-title-left"%>
  </div>
  <div class="title">
          <%#=link_to "# NEWS", events_path, class: "link-top-title" %>
  </div>
</div>


        <%= render 'shared/projects/projects_presentation' %>




<div class="projects-top-bottom hidden-xs">
  <div class= "top-bottom-shadow"></div>
    <div class= "projects-title-bottom">
      <%= link_to "VIRTUAL | REALITY", vr_projects_path, class: "link-bottom-title"%>
    </div>
</div>

<div class="projects-bottom-xs text-center hidden-sm hidden-md hidden-lg">
  <div class= "title" >
          <%= link_to "VIRTUAL | REALITY", vr_projects_path, class: "link-bottom-title-xs"%>
  </div>
</div>



