// Define variables for your color scheme

// For example:

$red: #EE5F5B;
$blue: #0b0f19;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #ffffff;

$blackdp: #0e1421;
$blue1dp: #163cc0;
$blue2dp: #0980f4;
$blue3dp: #03a7e9;
$blue4dp: #05d4e9;
$blue5dp: #03ccf0;
