.events-banner {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  //background-color: orange;
  padding-left: 9%;
  padding-right: 9%;
  margin-bottom: 3vh;
}

.events-title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 4vh;
  //background-color: red;
}


.events-title p {
  margin: auto;
  //opacity: 0.7;
  font-size: 18px;
  letter-spacing: 9px;
}

.events-title-xs {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.events-title-xs p {
  font-size: 12px;
  letter-spacing: 7px;
  //opacity: 0.9;
}





.events-container {
  display: block;
  text-align: center;
  height: 75vh;
  overflow: auto;
  width: 88%;
  margin: auto;
  //background-color:yellow;
}

.events-card-shadow {
   width: 90%;
   margin: auto;
   height: 3vh;
   //background-color:yellow;
}

.event-card {
  box-sizing: border-box;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  display: flex;
  //padding-top: 6%;
  //padding-left: 4%;
  //padding-right: 4%;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  box-shadow: none;
  //margin-top: 5vh;
  margin-bottom: 16vh;
  //color: #eae9e4;
  //opacity: 0.7;
  //background-color:yellow;
}





.event-card-content {
  width: 100%;
  //height: 350px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 5%;
  //background-color: #eae9e4;
  //background-color: #ea2283;
  //color: #ea2283;
  //background-image: asset-url('paulinevr.jpg');
  background-color: white;
  //color: #f06d45;
  //background-color: #0e1421;
  //color: #0e1421;

  //opacity: 0.8;
  border-radius: 2px;
}

.event-card-item {
  max-width: 100%;
  box-sizing: border-box;
  color: #da78b7;
  margin: auto;
  //opacity: 0.8;
  margin-bottom: 4vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5px 35px;
   //background-color: #eae9e4;
 //background-color:#f9e4f0;
background-color:#eae9e4;

}

#priming-events {
  //background:yellow;
  margin-bottom: 8%;
  width: 100%;
  padding-left: 90%;

}

.event-other-card-item {
  max-width: 100%;
  box-sizing: border-box;

  margin: auto;
  //opacity: 0.8;
  margin-bottom: 4vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5px 35px;
  background-color: #eae9e4;
  color: #327c96;


}

#event-name {
  font-size: 18px;
  letter-spacing: 9px;

}



#event-date {
  font-size: 14px;
  letter-spacing: 7px;
}



#event-localisation {
  font-size: 11px;
  letter-spacing: 5.5px;
}


#event-information {
  font-size: 10px;
  letter-spacing: 5px;

}

#event-photo{
  //box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}



.events-xs {
  display: block;
  margin: auto;
  margin-bottom: 5vh;

}

.events-container-xs {
  min-height: 30%;
  width: 90%;
  margin: auto;
  background-color:#eae9e4 ;
  padding-top: 4%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 8%;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}





#event-name-xs {
  font-size: 10px;
  letter-spacing: 5px;
  padding-bottom: 1%;
}



#event-date-xs {
  font-size: 9px;
  letter-spacing: 4px;
  padding-bottom: 1%;
}

#event-localisation-xs {
  font-size: 7px;
  padding-bottom: 1%;
}



#event-information-xs {
  font-size: 5px;
  padding-bottom: 1%;
}

#event-photo-xs {
   box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
   padding-bottom: 5%;
}

.events-icons {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 30px;
  padding-top: 3vh;
  padding-bottom: 3vh;
  //background-color: green;
}


.events-icons i{
  //color: #0e1421;
  //opacity: 0.5;
  margin: auto;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;


}

.events-icons i:hover {
opacity: 0.4;
}














