.infos-tools {
  display: flex;
  justify-content: space-between;
  //background: pink;

}

.infos-tools-div {
  //margin-top: 1vh;
  height: 5vh;
  //background-color: green;
  width: 40%;

}


.controls-top {
  display: flex;
  width: 40vh;
  //background-color: green;
  padding-left: 3%;
  //margin-top: 4vh;
}

.controls-infos {
  margin: auto;
  display: flex;
  display: flex;
  width: 70vh;
  z-index: 1;
  //background-color: green;
  //margin-top: 4vh;
}



.controls-top-xs {
   display: flex;
   justify-content: space-between;
  width: 60%;
}






#carousel-inner-top {
  height:5vh;
  overflow: none;
  width: 300px;
  padding-left: 0px;
  padding-right: 0px;
  background-color:transparent ;
  box-shadow: none;

}

.infos-title2 {
  //height: 20%;
  font-size: 11px;
  letter-spacing: 5.5px;
  font-weight: bold;
  //padding-bottom: 10%;
  padding-top: 2%;
  //margin-top: 5%;
  background-color:transparent;
}

.pauline-presentation {
  margin: auto;
  display: block;
  padding-top: 10%;
  //padding-bottom: 10%;
  text-align: center;
   background-image: asset-url('300.jpg');
 background-position: top 10% right 35%,;
  background-repeat: no-repeat;
  background-size: 65%;
  //background: pink;
  width: 100vh;
  height: 46vh;
  z-index: 1;
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
}







.pauline-presentation p {

  font-size: 9px;
  letter-spacing: 5px;

}
#pauline-name {
  margin: auto;
  font-size: 25px;
  letter-spacing: 17px;
  padding-right: 8px;
  //background-color: pink;
}
#pauline-cities {
  font-size: 15px;
  letter-spacing: 8px;
  padding-right: 18px;

  margin-top: 20px;
}
#pauline-cursus {
font-size: 13px;
letter-spacing: 6px;
margin-top: 30px;
}

.pauline-bio-xs {
margin-top: 20vh;
margin-bottom:5vh;
//padding-left: 10%;
//padding-right: 10%;

}

#pauline-name-xs {
  font-size: 12px;
  letter-spacing: 9px;

}

#pauline-cities-xs {
  font-size: 11px;
  padding-right: 10%;
  margin-top: 20px;
  padding-left: 10%;
}

#pauline-cursus-xs {
font-size: 9px;
margin-top: 30px;
padding-left: 10%;
padding-right: 10%;
}



.info-container {
  display: block;
  align-items: center;
  justify-content: space-around;
  overflow-y: auto;
  position: fixed;
  top: 12%;
  bottom: 3%;
  width: 80%;
  //padding-left: 2%;
  //padding-right: 2%;
  //background-color: orange;

}

.info-hidden-box {
  height: 83%;
  background-color: transparent;

}

.carousel-infos-container {

  background-color: white;
  display: block;
  justify-content: space-around;
  //background: fuchsia;
  height: 80vh;
}

.carousel-infos-border {
  display: block;
  margin: auto;
  width: 80vh;
  justify-content: space-around;
  height: 80vh;
  z-index: 5;

  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
  background: #fdfdfd;

}



.carousel-infos-titles {
  height: 18vh;
  width: 70vh;
  margin:auto;
  display: flex;
  justify-content: space-around;
  //box-sizing: border-box;
  //white-space: pre-wrap;
  white-space: normal;
  background: white;
  position: relative;
  background: #fdfdfd;
  //background: green;
  margin-top: 1vh;

}

.carousel-infos-titles a {
//background: blue;
margin: auto;
display: block;


}

#button-title-left {
margin: auto;
padding-left: 2vh;
padding-bottom: 3vh;





}

#button-title-right {
  margin: auto;
  padding-right:  2vh;
  padding-bottom: 3vh;



}





.carousel-infos-titles-xs {
  height: 30%;
  background: #fdfdfd;
  display: flex;
  justify-content: space-around;
  //box-sizing: border-box;
  //white-space: pre-wrap;
  white-space: normal;
}


.infos-title {
  text-align: center;
  border-radius: 2px;
  height: 18vh;
  display: flex;
  width: 50vh;
  padding: 10px 10px;

  background: white;
  position: relative;
  //margin-top: 10%;
  margin: auto;




}


.infos-title p {

  font-size: 16px;
  letter-spacing: 8px;
  font-weight: 500;
  //padding-top: 3vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 3vh;
  padding-left: 1vh;




}

.infos-title h6 {
  font-size: 15px;
  letter-spacing: 10px;
  padding-top: 10px;
  //padding-left: 5px;
}

.infos-title-xs {
  //box-sizing: border-box;
  height: 25%;
  width: 76%;
  font-size: 13px;
  margin: auto;
  letter-spacing: 6px;
  padding-bottom: 10%;
  padding-left: 10%;
  padding-right:10%;
  padding-top: 8%;
  margin-top: 3%;
  background: #fdfdfd;
  //box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}




.carousel-inner {
  margin: auto;
  height:60vh;
  width: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white;
  border-radius: 2px;

 background: #fdfdfd;
 z-index: 1;
 //background: yellow;



}

#carousel-inner-titles {
  display: flex;
  justify-content: space-around;
  margin: auto;
  height: 100%;

  margin:auto;
  width: 50vh;
 background: #fdfdfd;
  overflow: hidden;




}









.infos{
  box-sizing: border-box;
  //min-height:85vh;
  width: 70vh;
  margin: auto;
  background-color:white;
  //padding-top: 5vh;
  padding-left: 5%;
  display: block;

  padding-right: 5%;
  padding-bottom: 4%;
  background: #fdfdfd;
  z-index: 1;
}

.infos-container {
  margin: auto;
}







#info-name {
  font-size: 13px;



}

#info-localisation {
  font-size: 11px;


}

#info-date {
  font-size: 9px;


}

#info-commentary {
  font-size: 10px;



}


/////////////////////////////////////////////////////////////




.infos-presentation-title {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  //border-style: solid;
  //border-width: 1px;
  //border-radius: 2px;

  //background: pink;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;

  //box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);

}

#infos-presentation-title-top {
  padding-top: 4vh;
}

#infos-presentation-title-bottom {
  padding-bottom: 8vh;
}





.infos-presentation-title p{
  margin: auto;
  font-size: 12px;
  white-space: nowrap;
  line-height: 200%;

  letter-spacing: 6px;
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
  width: 35vh;
}

.infos-presentation-title h5 {
  margin: auto;
  font-size: 12px;
  white-space: nowrap;
  line-height: 200%;

  letter-spacing: 6px;
}

.infos-page {
  height: 86vh;
  width: 100%;
  //background: fuchsia;
  overflow: hidden;

}


////////////////////////////////////////////////////
.infos-block-hidden {
  height: 10vh;
}

.pauline-presentation-xs {

height: 220px;
margin: auto;
  width: 320px;
  margin: auto;
  display: block;
  justify-content: space-around;
  align-items: center;

  background-image: asset-url('300.jpg');
  background-position: top 0% left 5%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 1vh;
  z-index: 10;
  margin-top: 8%;
  margin-bottom: 8%;
  //background-color: pink;
  //padding-bottom: 10%;

  }

  #pauline-name-xs {
  font-size: 19px;
  letter-spacing: 9.5px;
  white-space: nowrap;
  opacity: 1;
  font-weight: bold;
  padding-top: 25%;



}

#pauline-cities-xs {
  font-size: 13px;
  letter-spacing: 6.5px;
  margin-top: 30px;
  padding-right: 6.5vh;

}

#pauline-cursus-xs {
font-size: 11px;
letter-spacing: 5.5px;
margin-top: 30px;

}

.infos-presentation-xs {
  width: 90%;
  //border-style: solid;
  //border-radius: 2px;
  //border-width: 1px;
  margin: auto;
  margin-top: 15%;
  line-height: 100%;
}

.infos-presentation-title-xs {
  text-align: center;
  font-size: 14px;
  letter-spacing: 7px;
  width: 92%;
  //height: 30px;
  margin: auto;
  font-weight: bold;
  background-color:#eae9e4;
  margin-bottom: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  border-radius: 2px;
}

.infos-presentation-title-xs p {
  margin: auto;
  //width: 96%;
}

#infos-presentation-title-sceno-xs {
  width: 96%;
  padding-top: 10px;
  padding-bottom: 10px;
}







.info-card-xs {
  margin: auto;
  margin-bottom: 20px;
  width: 84%;
  display: block;
  text-align: center;
}


#info-name-xs {
  margin: auto;
  text-align: center;
  font-size: 10px;
  letter-spacing: 5px;
  font-weight: bold;




}

#info-localisation-xs {
  font-size: 9px;
  letter-spacing: 4.5px;
  margin: auto;
  text-align: center;


}

#info-date-xs {
  font-size: 9px;
   letter-spacing: 4.5px;
    margin: auto;
  text-align: center;



}

#info-commentary-xs {
  font-size: 9px;
   letter-spacing: 4.5px;
    margin: auto;
  text-align: center;



}











