.infos-tools {
  display: flex;
  justify-content: space-between;
  //background: pink;

}

.infos-tools-div {
  //margin-top: 1vh;
  height: 5vh;
  //background-color: green;
  width: 40%;

}


.controls-top {
  display: flex;
  width: 40vh;
  //background-color: green;
  padding-left: 3%;
  //margin-top: 4vh;
}

.controls-top-xs-sm {
   display: flex;
   justify-content: space-between;
  width: 10vh;
}






#carousel-inner-top {
  height:5vh;
  overflow: none;
  width: 300px;
  padding-left: 0px;
  padding-right: 0px;
  background-color:transparent ;
  box-shadow: none;

}

.infos-title2 {
  //height: 20%;
  font-size: 11px;
  letter-spacing: 5.5px;
  font-weight: bold;
  //padding-bottom: 10%;
  padding-top: 2%;
  //margin-top: 5%;
  background-color:transparent;
}

.pauline-presentation {
  margin: auto;
  display: block;
  margin-top: 10vh;
  margin-bottom:10vh;
  padding-top: 10%;
  padding-bottom: 10%;
  text-align: center;
   background-image: asset-url('300.jpg');
 background-position: top 10% right 45%,;
  background-repeat: no-repeat;
  background-size: 70%;
  //background: pink;
  width: 86vh;
}
.pauline-presentation p {

  font-size: 9px;
  letter-spacing: 5px;

}
#pauline-name {
  margin: auto;
  font-size: 24px;
  letter-spacing: 17px;
  padding-right: 8px;
  //background-color: pink;
}
#pauline-cities {
  font-size: 14px;
  letter-spacing: 8px;
  padding-right: 18px;
  margin-top: 20px;
}
#pauline-cursus {
font-size: 11px;
letter-spacing: 6px;
margin-top: 30px;
}

.pauline-bio-xs-sm {
margin-top: 20vh;
margin-bottom:5vh;
//padding-left: 10%;
//padding-right: 10%;

}

#pauline-name-xs-sm {
  font-size: 12px;
  letter-spacing: 9px;

}

#pauline-cities-xs-sm {
  font-size: 11px;
  padding-right: 10%;
  margin-top: 20px;
  padding-left: 10%;
}

#pauline-cursus-xs-sm {
font-size: 9px;
margin-top: 30px;
padding-left: 10%;
padding-right: 10%;
}



.info-container {
  display: block;
  align-items: center;
  justify-content: space-around;
  overflow: auto;
  position: absolute;
  top: 17%;
  bottom: 3%;
  width: 80%;
  //padding-left: 2%;
  //padding-right: 2%;
  //background-color: yellow;

}

.info-hidden-box {
  height: 76%;
  background-color: transparent;

}

.carousel-infos-container {

   background-color: white;
  display: block;
  justify-content: space-around;
  //background: fuchsia;
}

.carousel-infos-border {
  display: block;
  margin: auto;
  width: 86vh;
  justify-content: space-around;

  border-style: solid;
  border-width: 1px;
  border-radius: 1px;
  background-color:#eae9e4;

}



.carousel-infos-titles {
  height: 20vh;
  width: 70vh;
  margin:auto;
  display: flex;
  justify-content: space-around;
  //box-sizing: border-box;
  //white-space: pre-wrap;
  white-space: normal;
  background: white;
  //background: yellow;
  position: relative;
  background-color:#eae9e4;
}

.carousel-infos-titles a {

  margin-top: 12%;
  //background: blue;
}

#button-title-left {
  padding-left: 5vh;


}

#button-title-right {
padding-right: 5vh;
}





.carousel-infos-titles-xs-sm-md {
  height: 30%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  //box-sizing: border-box;
  //white-space: pre-wrap;
  white-space: normal;
}


.infos-title {
  text-align: center;
  border-radius: 2px;
  height: 10vh;
  width: 50vh;
  padding: 10px 10px;
  //box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background-color:#eae9e4;
  position: relative;
  margin-top: 10%;


}


.infos-title p {

  font-size: 19px;
  letter-spacing: 9.5px;
  font-weight: 500;
  //padding-top: 3vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  //padding-left: 4%;



}

.infos-title h6 {
  font-size: 15px;
  letter-spacing: 10px;
  padding-top: 10px;
  //padding-left: 5px;
}

.infos-title-xs-sm-md {
  //box-sizing: border-box;
  height: 25%;
  width: 76%;
  font-size: 13px;
  margin: auto;
  letter-spacing: 6px;
  padding-bottom: 10%;
  padding-left: 10%;
  padding-right:10%;
  padding-top: 8%;
  margin-top: 3%;
  background-color:white;
  //box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}




.carousel-inner {
  margin: auto;
  height:58vh;
  width: 70vh;
  overflow: auto;
  background-color: white;
  border-radius: 2px;



}

#carousel-inner-titles {
  display: flex;
  justify-content: space-around;
  margin: auto;
  height: 100%;

  margin:auto;
  width: 50vh;
  background-color:#eae9e4;
  overflow: hidden;




}


.infos-container {
  margin: auto;
}






.infos{
  box-sizing: border-box;
  min-height:90vh;
  width: 100%;
  margin: auto;
  background-color:white;
  //padding-top: 5vh;
  padding-left: 5%;

  padding-right: 5%;
  padding-bottom: 4%;
  background-color:#eae9e4;




}







#info-name {
  font-size: 13px;



}

#info-localisation {
  font-size: 11px;


}

#info-date {
  font-size: 9px;


}

#info-commentary {
  font-size: 10px;



}

