<div class= "controls">
           <p class= "controls-style">
            <% if artwork = @artwork.previous %>
              <%= link_to artwork.title, showvr_path(artwork), class: "link-project"%>
            <% end %>
            <span>|</span>
      <% if artwork = @artwork.next %>
        <%= link_to artwork.title, showvr_path(artwork), class: "link-project"%>
      <% end %>

      </p>

      </div>_artworks_vr_controls.html.erb
