.controls {
  height: 4vh;
  //background-color: orange;
  //display: flex;
  //justify-content: space-between;
  text-align: right;

}

.controls p {
  //background-color: pink;
  margin: auto;


}




.controls-xs {
  height: 2vh;
  //background-color: pink;
  //margin-left: 25%;
  width: 80%;

}

