.controls {
  height: 4vh;
  //background-color: orange;

}

.controls p {
  //background-color: pink;
  margin: auto;


}




.controls-xs {
  height: 2vh;
  //background-color: pink;
  //margin-left: 25%;
  width: 80%;

}

