.footer-xs {
  position: fixed;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 3vh;
  width: 100%;
  z-index: 1;
  //color: $blackdp;
  //box-shadow: 0 -1px 5px 0 rgba(0,0,0,0.07),0 -1px 0 0 rgba(0,0,0,0.03);
  //margin-top: 20px;
  background: pink;
}

.footer {
  position: fixed;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 75px;
  width: 100%;
  z-index: 5;
  color: $blackdp;
  //box-shadow: 0 -1px 5px 0 rgba(0,0,0,0.07),0 -1px 0 0 rgba(0,0,0,0.03);
  background-color: transparent;
  //background-color:#da78b7;
  //opacity: 0.2;
  }











