
.project-icons {
  margin-top: 20vh;
}


.icons-container {
  //height: 4.5vh;
  width: 50%;
  margin: auto;
  margin-bottom: 5vh;
  display: flex;
  justify-content: center ;
  //margin-top: 6vh;
  //margin-bottom: 1vh;
  //margin-bottom: 1vh;
  //background: grey;
}

.icons {
display: flex;
  justify-content: space-between;
  //background: orange;
}

.icons i {
  color: $blackdp;
  //opacity: 0.7;
  margin: auto;
  padding-left: 1.4vh;
  padding-right: 1.4vh;
}

.icons i:hover {
opacity: 0.4;
}

