.navbar-xs {
  position: fixed;
  top: 0;
  height: 10vh;
  //margin-bottom: 3vh;
  width: 100%;
  padding: 0px 0px;
  display: flex;
  align-items: center;
  z-index: 1;
  color: $blackdp;
  background: #fdfdfd;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  //background-color: yellow;
  margin-bottom: 1vh;

}



.navbar-left-xs {
  display: flex;
  width: 10%;
  //background: pink;
  height: 10vh;
}

.navbar-center-xs {
  width: 80%;
  //background: orange;
  height: 10vh;
  align-items: center;

}



.home-icon {
  border:none;
  margin: auto;
  margin-left: 2vh;
  opacity: 1;
  color:$blackdp;
  //height: 2vh;
  cursor:pointer;
  //background: blue;
}

.home-icon i {
  color:$blackdp;
  //opacity: 0.8;
}





.navbar-right-xs {
  display: flex;
  width: 10%;
  height: 10vh;
  //background: pink;
  z-index: 10;
  display: flex;
}


/////////////////////


.navbar {
  //height: 6vh;
  height: 50px;
  width: 100%;
  padding: 0px 0px;
  display: flex;
  align-items: center;
  z-index: 10;
  color: $blackdp;
  background-color: white;
  //background-color: pink;
  margin-bottom: none;
  //background-color:#fcf2f8;
  //background-color: #da78b7;
  //opacity: 0.04;


}

.navbar-left {
  width: 70%;
  //background: yellow;
  height: 4vh;
  padding-left: 20px;
}

.navbar-left-links {
  margin-top: 5px;
}

.navbar-left-links a {
  margin: 0px 5px;
  color: green;
}

.navbar-right {
  width: 30%;
  height: 4vh;
  //background: orange;
  z-index: 10;
  align-items: center;
  display: flex;
  align-items: right;
  position: relative;
  //justify-content: right;
}


/////////////////////////////////




