
<div class="dropdown-click">
      <a class="dropdown-button">
        <i class="fas fa-align-justify" style= "font-size:1.3em"></i>
      </a>
  <div class="dropdown-panel">
    <ul>
      <li><a><%#=link_to "# NEWS", events_path, class: "link-project-xs" %></a></li>
      <li><a><%#=link_to "Lastest Creations", lastest_project_path(id:'41'), class: "link-project-xs"%></a></li>
      <li><a><%#=link_to "about pauline", events_path, class: "link-project-xs"%></a></li>
    </ul>
  </div>
</div>
