<div class="navbar hidden-xs">
  <div class="navbar-left">
    <div class="navbar-left-links hidden-xs">
      <a><% if user_signed_in? %>
        <%= link_to "log-out |", destroy_user_session_path, method: :delete, class: "link" %>
        <% end %></a>
      <a><% if current_user%>
        <%= link_to " update |", edit_project_path(@project), class: "link" %>
      <% end %></a>
      <a><% if current_user %>
        <%= link_to "delete |", project_path(@project), method: :delete, class: "link" %>
      <% end %></a>
      <a><% if current_user %>
        <%= link_to " new artwork", new_project_artwork_path(@project), class: "link" %>
      <% end %></a>
      </div>
  </div>
  <div class="navbar-right ">

  </div>

  </div>
