


<div class="navbar-xs hidden-sm hidden-md hidden-lg">
  <div class="navbar-left-xs">
    <div class= "home-icon" >
      <%=link_to projects_path do%>
        <i class="fas fa-home" style= "font-size:0.9em"></i>
      <%end %>
    </div>
  </div>

  <div class="navbar-center-xs ">



   </div>
  <div class="navbar-right-xs ">

    <div class="tabs">

    <div class="tab">
        <input type="radio" id="tab-3" name="tab-group-1">
        <label for="tab-3"><i class="fa fa-bars"></i></label>
        <div class="tab close-tab">
            <input type="radio" id="tab-close" name="tab-group-1">
        </div>


  <div class="content" >
          <a><%=link_to "Texts", texts_path, class: "link-dropdown"%></a>
          <a><%=link_to "EVENTS", events_path, class: "link-dropdown" %></a>
          <a> <%=link_to "about pauline", infos_path, class: "link-dropdown"%></a>
        </div>
  </div>

  </div>


  </div>
</div>
