
<div class="navbar-xs hidden-sm hidden-md hidden-lg">

  <div class="navbar-left">
    <div class= "home-icon" >
      <%=link_to projects_path do%>
        <i class="fas fa-home" style= "font-size:1em"></i>
      <%end %>
    </div>
  </div>
  <div class="navbar-right ">
    <%= render'shared/navbar/dropdown' %>
  </div>

</div>
