

<div class="navbar-xs hidden-sm hidden-md hidden-lg">
  <div class="navbar-left-xs">
    <div class= "home-icon" >
      <%=link_to projects_path do%>
        <i class="fas fa-home" style= "font-size:0.9em"></i>
      <%end %>
    </div>
  </div>
  <div  class="navbar-center-xs ">


  </div>

  <div class="navbar-right-xs ">
    <%= render'shared/navbar/dropdown' %>
  </div>
</div>

<!--div class= "infos-tools-xs">
      <div class="controls-top-xs">
        <a class="btn-floating" href="[id^=carousel-example-generic]" data-slide="prev"><i class="fa fa-caret-left"></i></a><%#= render 'shared/carousel/carousel_infos_titles2' %><a class="btn-floating" href="[id^=carousel-example-generic]" data-slide="next"><i class="fa fa-caret-right"></i></a>
      </div>
</div-->

