
<div class="page hidden-sm hidden-md hidden-lg">



    <% @infos.each do |info| %>
    <div class= "info-card-xs">
      <p id="info-name-xs"><%= info.name %></p>
      <p id="info-localisation-xs"><%= info.localisation%>
      <p id="info-date-xs"><%= info.date%></p>
      <p id="info-commentary-xs"><%= info.commentary%></p>
      <p>-</p>

    </div>
    <% end %>








</div>
